.task-list-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bulk-action-bar {
    background-color: #e5e7eb; /* Màu xám nhạt giống mockup */
    border-top: 1px solid #ccc;
}